<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.snuffix.notifications">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".part1.BasicNotifications"
            android:label="@string/basic_notifications"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".part1.StylingNotifications"
            android:label="@string/styling_notifications"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".part2.HeadsUpNotifications"
            android:label="@string/headsup_notifications"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".part2.LockScreenNotifications"
            android:label="@string/lockscreen_notifications"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".part2.CustomViewNotifications"
            android:label="@string/custom_view_notification"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".part2.ActiveNotifications"
            android:label="@string/active_notitications"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".part3.AndroidNNotifications"
            android:label="@string/android_n_notifications"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <service
            android:name=".part3.ReplyToEmailService"
            android:exported="false"/>

        <service android:name=".part2.NotificationService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name=".part2.NotificationAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

    </application>

</manifest>
